.flex-container {
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.tetris-board {
    flex: 1 1;
    max-height: 100%;
    aspect-ratio: 1/2;
}

.tetris {
    height: 100%;
    max-width: 100%;
    aspect-ratio: 1/2;
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(10, 1fr);
}

.tetris>div {
    box-shadow: 0 0 1px 0 black;
    background-color: white;
}

.tetris-hud {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
    width: fit-content;
    height: 100%;
    max-width: 100%;
    min-width: 180px;
    background-color: whitesmoke;
}

.score {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    row-gap: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FF4C4C;
    margin: 10px;

    font-family: Calibri;
    font-size: 1.5rem;
    color: #FFDE4D;
    text-align: center;
    text-shadow:
            1px 1px 0 #000,
            -1px 1px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000;
}

.score>p {
    margin: 0;
}

#score {
    background-color: whitesmoke;
    color: #FFDE4D;
    padding: 5px 0;
    border: 1px solid black;
    border-radius: 10px;
    /*clip-path: polygon(0 50%, 20px 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 20px 100%);*/
}

.level {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    row-gap: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FF4C4C;
    margin: 10px;

    font-family: Calibri;
    font-size: 1.5rem;
    color: #FFDE4D;
    text-align: center;
    text-shadow:
            1px 1px 0 #000,
            -1px 1px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000;
}

.level>p {
    margin: 0;
}

.lines {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    row-gap: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FF4C4C;
    margin: 10px;

    font-family: Calibri;
    font-size: 1.5rem;
    color: #FFDE4D;
    text-align: center;
    text-shadow:
            1px 1px 0 #000,
            -1px 1px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000;
}

.lines>p {
    margin: 0;
}

.hidden {
    display: none;
}
