body {
    touch-action: none;
}

.fancy-text {
    color: white;
    font-size: 1.5rem;
    font-family: Arial;
    font-weight: lighter;
    text-align: center;
    text-shadow:
            1px 1px 0 #000,
            -1px 1px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000;
}

.flex-container {
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    background-color: white;
}

.tetris {
    position: relative;
    height: 100%;
    aspect-ratio: 1/2;
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(10, 1fr);
}

.tetris>div {
    box-shadow: 0 0 1px 0 black;
    background-color: white;
}

.tetris-hud {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
    width: fit-content;
    height: 100%;
    max-width: 100%;
    min-width: 180px;
    background-color: whitesmoke;
}

.score {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.score>p {
    padding: 10px;
    margin: 0;
}

.score>p:first-child {
    background-color: #FF4C4C;
    border-bottom: 1px solid black;
}

/*#score {*/
/*    background-color: whitesmoke;*/
/*    color: #FFDE4D;*/
/*    padding: 5px 0;*/
/*    border: 1px solid black;*/
/*    border-radius: 10px;*/
/*    !*clip-path: polygon(0 50%, 20px 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 20px 100%);*!*/
/*}*/

.level {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.level>p {
    padding: 10px;
    margin: 0;
}

.level>p:first-child {
    background-color: #FF4C4C;
    border-bottom: 1px solid black;
}

.lines {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.lines>p {
    padding: 10px;
    margin: 0;
}

.lines>p:first-child {
    background-color: #FF4C4C;
    border-bottom: 1px solid black;
}

.figure-queue-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}

.figure-queue-container h1 {
    margin: 0;
    padding: 10px;
    background-color: #FF4C4C;
    width: 100%;
    border-bottom: 1px solid black;
}

.figure-queue-container canvas {
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 12px;
}

.figure-queue {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    padding: 10px;
}

#gameOverScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 500ms;
}

#gameOverScreen.hidden {
    display: initial;
    opacity: 0;
    pointer-events: none;
    touch-action: none;
}

.ribbon {
    box-sizing: border-box;
    padding: 12px;
    clip-path: polygon(0 0, 100% 0, calc(100% - 20px) 50%, 100% 100%, 0 100%, 20px 50%);

    font-size: 2rem;
}

#animation-ribbon {
    position: absolute;
    top: 25%;
    left: -90%;
    width: 90%;
    color: transparent;
    background-color: black;

    transition: 950ms;
}

.hidden #animation-ribbon {
    left: 100%;
}

#gameOverRibbon {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
    background-color: black;
    padding: 1px;

    transition-delay: 550ms;
    transition-duration: 475ms;
}

#gameOverRibbon>div {
    background-color: #FF4C4C;
}

.hidden #gameOverRibbon {
    left: -90%;
}

#score-form {
    position: absolute;
    top: calc(30% + 1.5rem + 42px);
    left: 50%;
    width: 90%;
    max-width: 300px;
    transform: translateX(-50%);
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    overflow: hidden;

    font-family: Calibri;
    font-size: 1.25rem;
    transition-delay: 2000ms;
    transition-duration: 1000ms;
}

.hidden #score-form{
    opacity: 0;
}

#score-form h1 {
    flex: 1 1;
    margin: 0;
    padding: 10px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}

#final-score {
    padding: 10px;
    border-bottom: 1px solid black;
}

#score-form input {
    flex: 1 1;
    padding: 10px;
    font-size: 1.25rem;
    border: none;
    outline: none;
    text-align: center;
}

#score-form button {
    flex: 1 1;
    padding: 10px;
    background-color: #FF4C4C;
    border: none;
    border-top: 1px solid black;
    outline: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.touch-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 175px;
    box-sizing: border-box;
    border-top: 1px solid black;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    display: none;
}

.touch-controls :nth-child(1) {
    grid-column: 1 / span 3;
}

.touch-controls :nth-child(2) {
    grid-column: 4 / span 3;
}

.touch-controls :nth-child(3) {
    grid-column: 1  / span 2;
}

.touch-controls :nth-child(4) {
    grid-column: 3  / span 2;
}

.touch-controls :nth-child(5) {
    grid-column: 5  / span 2;
}

/*.touch-controls canvas {*/
/*    column-span: 2;*/
/*}*/

.touch-controls canvas {
    width: 87.5px;
    height: 87.5px;
}

@media (pointer: coarse) and (hover: none) {
    /* Styles for touchscreen devices */
    .touch-controls {
        display: grid;
    }

    .flex-container {
        height: calc(100% - 175px);
        flex-flow: row nowrap;
        align-items: center;
    }

    .tetris {
        flex: 4 1;
        height: auto;
    }

    .tetris-hud {
        min-width: auto;
        flex: 1 1;
    }

    .score {
        margin: 5px;
    }

    .score>p {
        padding: 5px;
        font-size: 1rem;
    }

    .level {
        margin: 5px;
    }

    .level>p {
        padding: 5px;
        font-size: 1rem;
    }

    .lines {
        margin: 5px;
    }

    .lines>p {
        padding: 5px;
        font-size: 1rem;
    }

    .figure-queue-container {
        margin: 5px;
    }

    .figure-queue-container h1 {
        font-size: 1rem;
        padding: 5px;
    }

    .figure-queue {
        row-gap: 5px;
        padding: 5px;
    }
}

/*@media only screen {*/
/*    .flex-container {*/
/*        height: 70%;*/
/*    }*/
/*}*/